<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Kullanıcı Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm())
    {
       <div class="card-body">

           <div class="form-group">
               <label for="exampleInputEmail1">E-Posta</label>
               <input type="text" class="form-control" name="posta" id="posta" placeholder="eposta">
           </div>



       </div>
        <!-- /.card-body -->

<div class="card-footer">
    <button type="submit" class="btn btn-success">Kaydet</button>
</div>
    }
</div>