@model List<Eposta>
<div class="card">
    <div class="card-header">
        <table style="width:100%;">
            <tr>
                <td>  <h3 class="card-title">E-Postalar</h3>  </td>
                <td style="text-align:right;">
                    <a href="/Eposta/Ekle" class="btn btn-sm btn-success">
                        E-Posta Ekle
                    </a>

                </td>
            </tr>
        </table>

    </div>
</div>
<!-- /.card-header -->

<div class="card-body p-0">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                
                
                <th>Eposta</th>
                
            </tr>
        </thead>
        <tbody>

            @foreach (Eposta e in Model)
            {
                <tr>



                    <td>@e.posta</td>
                    <td>
                        <a href="/Eposta/Duzenle/@e.ePostaID" class="btn btn-sm btn-info" title="Düzenle" style="text-align:right">
                            <i class="fa fa-edit"></i>

                        </a>
                        <a href="/Eposta/Sil/@e.ePostaID" class="btn btn-danger btn-sm" title="Sil"  onclick="return confirm('Silmek istediğinizden emin misiniz ?') ">
                            <i class="fa fa-trash"></i>
                        </a>

                    </td>
                
                </tr>
            }

        </tbody>
    </table>
</div>
<!-- /.card-body -->


